html{
  height:100%;
}
img{
  width:100%;
  aspect-ratio: 315/230;
  object-fit: stretch;
}
.thumbnail{
  display:block;
  color:black;
  text-decoration:none;
  background:white;
  border-radius:4px;
}
.thumbnail:hover{
  color:#666;
}
#thumbnail-container{
  background-color:#bbb;
  min-height:78vh;
  padding-top:30px;
  padding-bottom:30px;
}
h1{
  color:#008211;
}
#root > div {
  position: relative;
  min-height: 100vh;
}

#site-content {
padding-bottom: 5rem;    /* Footer height */
}

#footer {
  padding-top:10px;
position: absolute;
bottom: 0;
width: 100%;
height: 5rem;            /* Footer height */
background:#008211;
color:white;
}
.nav-item{
  font-size:22px;
  margin-right:10px;
}
.site-link{
  margin-right:10px;
}
.hidden{
  visibility:hidden;
}